# Project exclude paths
/interfaces/airbot/IAirbotOptions.js
/interfaces/callback/ICallbackQuery.js
/interfaces/chat/IChat.js
/interfaces/chat/IChatPermissions.js
/interfaces/chat/IChatPhoto.js
/interfaces/inline/IChosenInlineResult.js
/interfaces/inline/IInlineQuery.js
/interfaces/keyboard/reply/IForceReply.js
/interfaces/keyboard/reply/IKeyboardButton.js
/interfaces/keyboard/reply/IKeyboardButtonPollType.js
/interfaces/keyboard/reply/IReplyKeyboardMarkup.js
/interfaces/keyboard/reply/IReplyKeyboardRemove.js
/interfaces/media/audio/IAudio.js
/interfaces/media/audio/IInvoice.js
/interfaces/media/audio/IVoice.js
/interfaces/media/game/ICallbackGame.js
/interfaces/media/game/IGame.js
/interfaces/media/location/ILocation.js
/interfaces/media/location/IVenue.js
/interfaces/media/other/passport/IEncryptedCredentials.js
/interfaces/media/other/passport/IEncryptedPassportElement.js
/interfaces/media/other/passport/IPassportData.js
/interfaces/media/other/passport/IPassportFile.js
/interfaces/media/other/IContact.js
/interfaces/media/other/IDice.js
/interfaces/media/other/IDocument.js
/interfaces/media/other/ILoginUrl.js
/interfaces/media/payments/IOrderInfo.js
/interfaces/media/payments/IPreCheckoutQuery.js
/interfaces/media/payments/IShippingAddress.js
/interfaces/media/payments/IShippingQuery.js
/interfaces/media/payments/ISuccessfulPayment.js
/interfaces/media/photo/IPhotoSize.js
/interfaces/media/poll/IPoll.js
/interfaces/media/poll/IPollAnswer.js
/interfaces/media/poll/IPollOption.js
/interfaces/media/sticker/IMaskPosition.js
/interfaces/media/sticker/ISticker.js
/interfaces/media/video/IVideo.js
/interfaces/media/video/IVideoNote.js
/interfaces/media/IAnimation.js
/interfaces/message/IForwardMessage.js
/interfaces/message/IMessage.js
/interfaces/message/IMessageEntity.js
/interfaces/message/ISendMessage.js
/interfaces/message/ISendPhoto.js
/interfaces/user/IUser.js
/MVC/Module.js
/node_modules/
/polling/IPolling.js
/polling/polling.js
/utils/events.js
/utils/urls.js
/airbot.js
/dispatcher.js